/runtime
/vendor
/.idea
/.vscode
*.log
.env
.env.backup
.phpunit.result.cache
.phpunit.cache
/tests/tmp
/test/
/md/
/example
/docs/
/app/examples/
/app/common/the-admin-service.code-workspace
/app/validator/README.md
composer.lock
